[submodule "depends/goldilocks-gpu"]
	path = depends/goldilocks-gpu
	url = https://github.com/Orbiter-Finance/goldilocks-gpu.git
	branch = dev
[submodule "depends/icicle"]
	path = depends/icicle
	url = https://github.com/ingonyama-zk/icicle.git
